.recipe{
    border-radius: 10px;
    background: aliceblue;
    box-shadow:
    0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048),
    0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072),
    0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12);
    margin: 20px;
    min-width: 70vw;
    max-width: 80vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
.recipe h1{
    text-align: center;
    text-transform: uppercase;

}

.recipe ol{
    width: 50vw;
    font-family:courier,arial,helvetica;
    font-size: 19px;
}

.recipe img{
    width: 540px;
    height: 360px;
    border-radius: 10px;
    margin: 10px;
    box-shadow:
    0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048),
    0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072),
    0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12);
}

.recipe p{
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    font-size: 28px;
}

.recipe span{
    padding-right: 10px;
    font-size: 34px;
    font-weight: 500;
    color:  rgb(255, 0, 64);
}

@media (max-width: 420px)
{
    .recipe{
        min-width: 90vw;
        max-width: 90vw;
        padding: 10px 9px 10px 4px;
    }
    .recipe h1{
        text-transform: uppercase;
        font-size: 20px;
        text-align: center;
    }
    .recipe ol{
    width: 80vw;
    font-size: 14px;
    }
    .recipe img{
        width: 270px;
        height: 220px;
        border-radius: 10px;
        margin: 10px;
        box-shadow:
        0 2.8px 2.2px rgba(0, 0, 0, 0.034),
        0 6.7px 5.3px rgba(0, 0, 0, 0.048),
        0 12.5px 10px rgba(0, 0, 0, 0.06),
        0 22.3px 17.9px rgba(0, 0, 0, 0.072),
        0 41.8px 33.4px rgba(0, 0, 0, 0.086),
        0 100px 80px rgba(0, 0, 0, 0.12);
    }
}

@media (max-width: 779px) and (min-width: 430px)
{
    .recipe{
        min-width: 95vw;
        max-width: 100vw;
        padding: 10px 10px 10px 10px;
    }
    .recipe h1{
        text-transform: uppercase;
        font-size: 40px;
        text-align: center;
        padding: 10px 10px 10px 10px;
    }
    .recipe ol{
    width: 85vw;
    font-size: 22px;
    }
    .recipe p{
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: 600;
        font-size: 28px;
    }
    .recipe span{
        padding-right: 10px;
        font-size: 34px;
        font-weight: 500;
        color:  rgb(255, 0, 64);
    }

    .recipe img{
        width: 540px;
        height: 440px;
        border-radius: 10px;
        margin: 10px;
        box-shadow:
        0 2.8px 2.2px rgba(0, 0, 0, 0.034),
        0 6.7px 5.3px rgba(0, 0, 0, 0.048),
        0 12.5px 10px rgba(0, 0, 0, 0.06),
        0 22.3px 17.9px rgba(0, 0, 0, 0.072),
        0 41.8px 33.4px rgba(0, 0, 0, 0.086),
        0 100px 80px rgba(0, 0, 0, 0.12);
    }
}

@media (max-width: 1050px) and (min-width: 780px)
{
    .recipe{
        min-width: 90vw;
        max-width: 100vw;
        padding: 10px 9px 10px 4px;
    }
    .recipe h1{
        text-transform: uppercase;
        font-size: 40px;
        text-align: center;
    }
    .recipe ol{
    width: 75vw;
    font-size: 30px;
    }
    .recipe p{
        font-weight: 600;
        font-size: 48px;
    }
    .recipe span{
        padding-right: 10px;
        font-size: 44px;
        font-weight: 500;
        color:  rgb(255, 0, 64);
    }

    .recipe img{
        width: 720px;
        height: 640px;
        border-radius: 10px;
        margin: 10px;
        box-shadow:
        0 2.8px 2.2px rgba(0, 0, 0, 0.034),
        0 6.7px 5.3px rgba(0, 0, 0, 0.048),
        0 12.5px 10px rgba(0, 0, 0, 0.06),
        0 22.3px 17.9px rgba(0, 0, 0, 0.072),
        0 41.8px 33.4px rgba(0, 0, 0, 0.086),
        0 100px 80px rgba(0, 0, 0, 0.12);
    }
}

